{{ define "content" }}
    <h1>收支统计报告</h1>

    <table>
        <tr>
            <th rowspan="2">月份</th>
            <th>收入</th>
            <th rowspan="2">投资</th>
            <th colspan="2">贷款</th>
            <th colspan="7">支出</th>
            <th colspan="2">转账收支</th>
            <th>其他</th>
        </tr>
        <tr>
            <th>总收入</th>
            <th>贷款总额</th>
            <th>贷款还款</th>
            <th>总支出</th>
            <th>信用还款</th>
            <th>交通支出</th>
            <th>餐饮支出</th>
            <th>水电支出</th>
            <th>话费支出</th>
            <th>其他支出</th>
            <th>转账支出</th>
            <th>转账收入</th>
            <th>内部转账</th>
        </tr>
        {{range $yearMonth := $.yearMonths}}
            {{ $monthStat := index $.monthStatsMap $yearMonth }}
        <tr>
            <td>{{$monthStat.YearMonth}}</td>
            <td>{{$monthStat.Income.FormatTotal}}</td>
            <td>{{$monthStat.Investment.FormatTotal}}</td>
            <td>{{$monthStat.Loan.FormatTotal}}</td>
            <td>{{$monthStat.LoanRepayment.FormatTotal}}</td>
            <td>{{$monthStat.FormatExpenseTotal}}</td>
            <td>{{$monthStat.CreditRepayment.FormatTotal}}</td>
            <td>{{$monthStat.ExpenseTravel.FormatTotal}}</td>
            <td>{{$monthStat.ExpenseEat.FormatTotal}}</td>
            <td>{{$monthStat.ExpenseWaterElectGas.FormatTotal}}</td>
            <td>{{$monthStat.ExpenseTel.FormatTotal}}</td>
            <td>{{$monthStat.ExpenseOther.FormatTotal}}</td>
            <td>{{$monthStat.ExpenseTransfer.FormatTotal}}</td>
            <td>{{$monthStat.IncomeTransfer.FormatTotal}}</td>
            <td>{{$monthStat.InnerTransfer.FormatTotal}}</td>
        </tr>
        {{end}}

    </table>

        <h2>查看明细</h2>
    {{range $yearMonth := $.yearMonths}}
        <a href="aliwepaystat-{{$yearMonth}}.html" target="stat_detail">{{$yearMonth}}</a>
    {{end}}

    <iframe name="stat_detail" style="width: 100%; height: 100%; min-height: 800px;border:0px; ">
    </iframe>
{{ end }}
