{{ define "layout" }}
    <!DOCTYPE html>
    <html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>statistics report</title>
        <style type="text/css">
            body{font-size: 12px;}
            table{border: 1px solid #ccc; border-collapse: collapse;}
            th,td{border:1px solid #bbb;padding:2px 5px;}
            tr:nth-child(odd){background-color:#FFE4C4;}
            tr:nth-child(even){background-color:#F0F0F0;}
            th{background-color: #0088ff;color:#FFF;}
        </style>
    </head>
    <body>
    <div class="container">
        {{ template "content" . }}
    </div>
    </body>
    </html>
{{ end }}